<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Processing</title>

        <link rel="stylesheet" href="{{asset('bundles/processing/css/style.css')}}">

    </head>
    <body>
        <header>
            <hgroup>
                <h1>Processing</h1>
            </hgroup>
        </header>
        <div id="content">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>